.href {
    margin: 0 15px;
}

h2,
h3,
h4,
h5 {
    text-align: center;
}

h2 {
    color: purple;
}


.background {
    background-image: url("m2.jpeg");
}

p {
    text-align: center;
}

.foto {
    text-align: center;
}

.uniq * {
    all: unset;
}