.box {
    background-color: rgb(230, 227, 227);
    width: 1200px;
    height: 70px;
    margin: 0 auto;

}

.text {
    text-align: center;
}

.box1 {
    background-color: rgb(5, 192, 192);
    width: 400px;
    height: 80px;

}

.box2 {
    background-color: rgb(8, 181, 181);
    width: 400px;
    height: 80px;
}

.box3 {
    background-color: rgb(4, 159, 159);
    width: 400px;
    height: 80px;

}

.container {
    display: flex;
    justify-content: center;
    /* yatayda ortalar */
}